
    <div class="sidebar" data-image="../assets/img/sidebar-5.jpg">
        <div class="sidebar-wrapper">
            <div class="logo">
                <a href="/" class="simple-text">
                    Unlock Training
                </a>
            </div>
            <ul class="nav">
                <li>
                    <a class="nav-link" href="/?view=array">
                        <i class="nc-icon nc-chart-pie-35"></i>
                        <p>Find number</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./?view=draw">
                        <i class="nc-icon nc-support-17"></i>
                        <p>Drawing</p>
                    </a>
                </li>

            </ul>
        </div>
    </div>